.oh-my-zsh/
.Bucket Explorer/
.CFUserTextEncoding
.VideoStitch/
.Xauthority
.meteor/
.adobe/
.android/
.ansible.cfg
.ansible_hosts.cfg
.bash_history
.bash_profile
.bash_xfile
.bashrc_docker
.blueprints.git/
.boot2docker/
.byobu/
.cabal/
.cache/
.cargo/
.cocoapods/
.config/
.cordova/
.cpan/
.cups/
.designer/
.docker/
.dotfiles/
.dvdcss/
.eclipse/
.electron/
.erlang.cookie
.fontconfig/
.gem/
.gemrc
.ghc/
.gitconfig
.gitignore_global
.gradle/
.hgignore_global
.hgrc
.htoprc
.ipython/
.kerl/
.lesshst
.local/
.mailcap
.matplotlib/
.mime.types
.mindterm/
.mitmproxy/
.mongorc.js
.mono/
.multirust/
.mycli-history
.mycli.log
.myclirc
.netrc
.node-gyp/
.npm/
.oracle_jre_usage/
.pex/
.php_history
.pip/
.plugman/
.proxychains/
.putty/
.pyenv/
.python_history
.recently-used
.rediscli_history
.rnd
.ropeproject/
.rvm/
.s3cfg
.sh_history
.shsh/
.sqlite_history
.ssh/
.subversion/
.translate_toolkit/
.v8flags.3.28.73.yuzebin.json
.v8flags.4.5.103.33.yuzebin.json
.vagrant.d/
.vifm/
.viminfo
.vim/bundle/EasyGrep/
.vim/bundle/FuzzyFinder/
.vim/bundle/L9/
.vim/bundle/ShowPairs/
.vim/bundle/VOoM/
.vim/bundle/YankRing.vim/
.vim/bundle/vim-expand-region/
.vim/bundle/vim-quickhl/
.vnc/
.wireshark/
.zcompdump
.zcompdump-zebin_mbp-5.0.5
.zcompdump-zebin_mbp-5.0.8
.zcompdump-zebin_mbp-5.1.1
.zprofile
.zsh_history
Applications/
"Calibre \344\271\246\345\272\223"
Desktop
Documents
Downloads
GlobalMeet for Desktop/
Library/
Movies
Music
Pictures
Public
StuffIt/
VirtualBox VMs/
data/
perl5/
rand_speaker.py
source
yankring_history_v2.txt
zdata/
.ShadowsocksX/
.atom/
.babel.json
.filehis/
.freemind/
.gitbucket/
.heroku/
.spyder2-py3/
init.sh
.vim/bundle/vim-jsbeautify/
.netrc.bak
git_hug/
moin/
.ansible_hosts.txt
.aws/
.pythonhist
.gnupg/
.ipynb_checkpoints/
.jupyter/
.rbenv/
.zcompdump-zebin_mbp-5.2
.zshrc.backup
Applications (Parallels)/
gen_hosts.sh
vagrant/
.mplayer/config
StudioProjects/
